import init.recovery.vold_decrypt.tee.rc
import init.recovery.vold_decrypt.mobicore.rc
import init.recovery.vold_decrypt.gatekeeper.rc
import init.recovery.vold_decrypt.keymaster_attestation.rc
import init.recovery.vold_decrypt.keymaster.rc

on fs
	install_keyring
	mkdir /mnt/vendor/persist 0777 system system
    setprop crypto.ready 1

service keystore /system/bin/keystore /tmp/misc/keystore
	user root
	group keystore drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
	start tee-1-0
	start teeregistry-1-0
	start mobicore
	start gatekeeper-1-0
	start keymaster_attestation-1-1
    start keymaster-3-0

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop tee-1-0
    stop teeregistry-1-0
