on init
	symlink /system/lib64/hw/libMcGatekeeper.so /system/lib64/hw/gatekeeper.Wasp.so
	symlink /system/lib64/hw/libMcGatekeeper.so /system/lib64/hw/gatekeeper.mt6750.so
	symlink /system/lib64/hw/libMcTeeKeymaster.so /system/lib64/hw/keystore.Wasp.so
	symlink /system/lib64/hw/libMcTeeKeymaster.so /system/lib64/hw/keystore.mt6761.so
	symlink /system/lib64/hw/kmsetkey.default.so /system/lib64/hw/kmsetkey.trustonic.so

service boot-hal-1-0 /system/bin/android.hardware.boot@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
	start boot-hal-1-0

on fs
	setprop sys.usb.ffs.aio_compat 1
	export ANDROID_ROOT /system_root

	# distinguish USB shoulde connect or not, i.e. CDP vs SDP
	write /sys/devices/platform/mt_usb/cmode 2

on post-fs-data
# Support A/B feature for boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

on property:ro.debuggable=1
	write /sys/devices/platform/mt_usb/cmode 1
